body{
    display: grid;
    grid-template-areas:
    "loja loja"
    "de naosei"
    "oque oque";
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 400px auto;
}


header{
    background-color: fuchsia;
    grid-area: loja;
}

aside{
    background-color: brown;
    grid-area: de;

}

main{
    background-color: chartreuse;
    grid-area: naosei;
}

footer{
    background-color: rgb(57, 57, 143);
    grid-area: oque;
}

@media only screen and (max width 450px){
body{
    display: grid;
    grid-template-areas: 
    "loja loja"
    "de naosei"
    "oque oque";
    grid-template-rows: 100px 500px auto 100px;
    grid-template-columns: auto;
}
auto{
    display: none;
}
}